
.cont{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.cont .card{
    position: relative;
    max-width: 300px;
    height: 315px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgb(0,0,0,0,5);
    transition: 0.3s ease-in-out;
}

.cont .card:hover{
    height: 420px;
}
.cont .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.cont .card .content{
    position: relative;
    margin-top: -15px;
    padding: 10px 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.cont .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40;
    transition-delay: 0.1s;
}


.chef-img {
    background-image: url('../../../assets/chef.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    position: relative;
}

.chef-content {
    position: absolute;
    bottom: 5%;
    padding: 10px;
    background-color: var(--color-primary);
}

.chef-info h4 {
    color: black;
    text-transform: uppercase;
}

.chef-info p {
    color: black;
    padding-top: 10px;
}